{% load static  %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link href='https://fonts.googleapis.com/css?family=Italiana' rel='stylesheet' />

        <title>About - LINK AFFILIATELY</title>
        <!-- Favicon-->
        <link rel="icon" type="image/png" href="{%static 'affiliate/assets/icon.png' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'affiliate/css/styles.css'  %}" rel="stylesheet" />
        <style>
            .navbar-nav .nav-link 
            {
                color: #003665;
                font-family: Arial, Helvetica, sans-serif;
            }
            .login-btn
            {
                color: #ffffff;
                background-color: #003665;
            }
            
            .login-btn:hover
            {
                color: white;
                background-color: #002240;
            }
            .navbar-brand 
            {
                color: #003665;
                font-family: 'Italiana';
                font-weight: 700;
            }

            .btn-outline
            {
                border: 0.09rem solid #003665;
                color: #003665;
            }

            .btn-outline:hover
            {
                background-color:  #003665;
                color: white;
            }
            .navbar-brand:hover, .navbar-nav .nav-link:hover 
            {
                color: #7db8ed;
            }
            .btn-story
            {
                color: white;
                background-color: #003665;
            }
            .btn-story:hover
            {
                color:#003665;
                background-color: #7db8ed;
            }

        </style>
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            
            <!-- Header-->
            <header style= "background-image: url('{%static 'affiliate/images/bg-7.jpg' %}'); background-repeat: no-repeat; padding-bottom: 6rem; padding-top: 1rem;  background-size: cover;" >
                <nav style="color: #000000;" class="navbar navbar-expand-lg navbar-transparent ">
                    <div class="container px-5">
                        <a class="navbar-brand" href="{% url 'home' %}">LINK AFFILIATELY</a>
                        <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="about">About</a></li>
                                <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
                                <li class="nav-item"><a class="nav-link" href="pricing">Pricing</a></li>
                                <li class="nav-item"><a class="nav-link" href="faq">FAQ</a></li>
                                
                                <form class="d-flex" id="authstyle">  
                                    {% if user.is_authenticated %}  
                                    <li class="nav-item"><a style="margin-top: 3px; margin-left: 2px;" class="btn btn-sm px-4 me-sm-3 login-btn" href="{% url 'profile' %}">Welcome {{user.username}},</a></li>
                                    <li class="nav-item"><a style="margin-top: 3px; margin-left: 2px;" class="btn btn-sm px-4 me-sm-3 login-btn" href="{% url 'logout' %}">Logout</a></li>
                                    
                                    {% else %}

                                    <li class="nav-item"><a style="margin-top: 3px; margin-left: 2px;" class="btn btn-sm px-4 me-sm-3 login-btn" href="{% url 'login' %}">Login</a></li>
                                    <li class="nav-item"><a style="margin-top: 3px;" class="btn btn-outline btn-sm px-4" href="{% url 'signup' %}">Sign Up</a></li>

                                    {% endif %}
                                </form>
                                
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 style="color: #003665;" class="fw-bolder mb-3">Our mission is to bring best quality products with reasonable prices</h1>
                                <p style="color: #003665;" class="lead fw-normal mb-4">Welcome to our online music accessory store, your one-stop destination for high-quality audio gear. Our site is designed to help you find the perfect audio accessories for your needs, with detailed product recommendations and reviews. What sets us apart is that we've partnered with Amazon and other trusted stores, allowing you to make purchases with confidence, knowing you're getting the best deals and top-notch products. Explore our range, discover the latest trends in audio technology, and elevate your music experience today</p>
                                <a class="btn btn-story btn-lg" href="#scroll-target">Read our story</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{%static 'affiliate/images/bg-6.jpg' %}" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 style="color: #003665;" class="fw-bolder">Our founding</h2>
                            <p style="color: #003665;" class="lead fw-normal mb-0">We aim to offer music lovers a carefully curated selection of audio accessories that enhance their listening experiences. What started as a small venture born out of love for sound has evolved into a trusted destination for quality headphones, handsfree devices, and wireless headsets</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="{%static 'affiliate/images/1.jpg' %}" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 style="color: #003665;" class="fw-bolder">Growth &amp; beyond</h2>
                            <p style="color: #003665;" class="lead fw-normal mb-0">Our commitment to excellence and a dedication to serving our customers have been the cornerstones of our growth. As we continue to grow, our mission remains unchanged: to provide you with the best in music accessories, and offer expert advice. The future holds exciting possibilities, and we're thrilled to have you along for the ride.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-transparent">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 style="color: #003665;" class="fw-bolder">Our team</h2>
                        <p style="color: #003665;" class="lead fw-normal mb-5">Dedicated to Quality and your Success</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                {% comment %} <img class="img-fluid rounded-circle mb-4 px-4" src="{%static 'affiliate/images/3.jpg' %}" alt="..." /> {% endcomment %}
                                <h5 style="color: #003665;" class="fw-bolder">Sameen Fatima</h5>
                                <div style="color: #003665;" class="fst-italic ">Software Engineer</div>
                            </div>
                        </div> 
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                {% comment %} <img class="img-fluid rounded-circle mb-4 px-4" src="{%static 'affiliate/images/4.jpg' %}" alt="..." /> {% endcomment %}
                                <h5 style="color: #003665;" class="fw-bolder">Raheel Khan</h5>
                                <div style="color: #003665;" class="fst-italic">Software Engineer</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                {% comment %} <img class="img-fluid rounded-circle mb-4 px-4" src="{%static 'affiliate/images/2.jpg' %}" alt="..." /> {% endcomment %}
                                <h5 style="color: #003665;" class="fw-bolder">Zahra Fiaz</h5>
                                <div style="color: #003665;" class="fst-italic ">Software Engineer</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer style="background-color: #003365; " class="py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; LINK AFFILIATELY 2023</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="privacy">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="privacy">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="contact">Contact</a>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{%static 'affiliate/js/scripts.js' %}"></script>
    </body>
</html>
