{% load static  %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link href='https://fonts.googleapis.com/css?family=Italiana' rel='stylesheet' />

        <title>Pricing - LINK AFFILIATELY</title>
        <!-- Favicon-->
        <link rel="icon" type="image/png" href="{%static 'affiliate/assets/icon.png' %}" />

        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'affiliate/css/styles.css'  %}" rel="stylesheet" />
        <style>
            .navbar-nav .nav-link {
            color: #003665;
            font-family: Arial, Helvetica, sans-serif;
            }
            
            .navbar-brand {
            color: #003665;
            font-family: 'Italiana';
            font-weight: 700;
            }

            .navbar-brand:hover, .navbar-nav .nav-link:hover {
            color: #7db8ed;
            }

            .btn-primary
            {
            color:#003665;
            background-color: #7db8ed;
            
            }
            .login-btn:hover
            {
            color: white;
            background-color: #003665;
            }

            .login-btn
            {
                color: #ffffff;
                background-color: #003665;
            }
            
            .login-btn:hover
            {
                color: white;
                background-color: #002240;
            }
            .navbar-brand 
            {
                color: #003665;
                font-family: 'Italiana';
                font-weight: 700;
            }

            .btn-outline
            {
                border: 0.09rem solid #003665;
                color: #003665;
            }

            .btn-outline:hover
            {
                background-color:  #003665;
                color: white;
            }
        </style>
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <header style= "background-image: url('{%static 'affiliate/images/bg-7.jpg' %}'); background-repeat: no-repeat; padding-bottom: 6rem; padding-top: 1rem;  background-size: cover;">
                <nav style="color: #000000;" class="navbar navbar-expand-lg navbar-transparent ">
                <div class="container px-5">
                    <a class="navbar-brand" href="{% url 'home' %}">LINK AFFILIATELY</a>
                    <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="pricing">Pricing</a></li>
                            <li class="nav-item"><a class="nav-link" href="faq">FAQ</a></li>
                            
                            <form class="d-flex" id="authstyle">  
                                {% if user.is_authenticated %}  
                                <li class="nav-item"><a style="margin-top: 3px; margin-left: 2px;" class="btn btn-sm px-4 me-sm-3 login-btn" href="{% url 'profile' %}">Welcome {{user.username}},</a></li>
                                <li class="nav-item"><a style="margin-top: 3px; margin-left: 2px;" class="btn btn-sm px-4 me-sm-3 login-btn" href="{% url 'logout' %}">Logout</a></li>
                                
                                {% else %}

                                <li class="nav-item"><a style="margin-top: 3px; margin-left: 2px;" class="btn btn-sm px-4 me-sm-3 login-btn" href="{% url 'login' %}">Login</a></li>
                                <li class="nav-item"><a style="margin-top: 3px;" class="btn btn-outline btn-sm px-4" href="{% url 'signup' %}">Sign Up</a></li>

                                {% endif %}
                            </form>
                    </div>
                </div>
            </nav>
            <!-- Pricing section-->
            <section class="bg-transparent py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 style="color: #003365; "  class="fw-bolder">Pay as you grow</h1>
                        <p style="color: #003365; "  class="lead fw-normal mb-0">With our no hassle pricing plans</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <!-- Pricing card free-->
                        <div style="color: #003365; " class="col-lg-6 col-xl-4">
                            <div class="card mb-5 mb-xl-0">
                                <div class="card-body p-5">
                                    <div class="small text-uppercase fw-bold">Free</div>
                                    <div class="mb-3">
                                        <span class="display-4 fw-bold">$0</span>
                                        <span class="text-muted">/ mo.</span>
                                    </div>
                                    <ul class="list-unstyled mb-4">
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            <strong>1 users</strong>
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            5GB storage
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            Unlimited public projects
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            Community access
                                        </li>
                                        <li class="mb-2 text-muted">
                                            <i class="bi bi-x"></i>
                                            Unlimited private projects
                                        </li>
                                        <li class="mb-2 text-muted">
                                            <i class="bi bi-x"></i>
                                            Dedicated support
                                        </li>
                                        <li class="mb-2 text-muted">
                                            <i class="bi bi-x"></i>
                                            Free linked domain
                                        </li>
                                        <li class="text-muted">
                                            <i class="bi bi-x"></i>
                                            Monthly status reports
                                        </li>
                                    </ul>
                                    <div class="d-grid"><a class="btn btn-outline" href="#!">Choose plan</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Pricing card pro-->
                        <div style="color: #003365; " class="col-lg-6 col-xl-4">
                            <div class="card mb-5 mb-xl-0">
                                <div class="card-body p-5">
                                    <div class="small text-uppercase fw-bold">
                                        <i class="bi bi-star-fill text-warning"></i>
                                        Pro
                                    </div>
                                    <div class="mb-3">
                                        <span class="display-4 fw-bold">$9</span>
                                        <span class="text-muted">/ mo.</span>
                                    </div>
                                    <ul class="list-unstyled mb-4">
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            <strong>5 users</strong>
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            5GB storage
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            Unlimited public projects
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            Community access
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            Unlimited private projects
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            Dedicated support
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            Free linked domain
                                        </li>
                                        <li class="text-muted">
                                            <i class="bi bi-x"></i>
                                            Monthly status reports
                                        </li>
                                    </ul>
                                    <div class="d-grid"><a class="btn btn-outline" href="#!">Choose plan</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Pricing card enterprise-->
                        <div style="color: #003365; " class="col-lg-6 col-xl-4">
                            <div class="card">
                                <div class="card-body p-5">
                                    <div class="small text-uppercase fw-bold">Enterprise</div>
                                    <div class="mb-3">
                                        <span class="display-4 fw-bold">$49</span>
                                        <span class="text-muted">/ mo.</span>
                                    </div>
                                    <ul style="color: #003365; " class="list-unstyled mb-4">
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            <strong>Unlimited users</strong>
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            5GB storage
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            Unlimited public projects
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            Community access
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            Unlimited private projects
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            Dedicated support
                                        </li>
                                        <li style="color: #003365; " class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            <strong>Unlimited</strong>
                                            linked domains
                                        </li>
                                        <li class="text-muted">
                                            <i class="bi bi-check text-primary"></i>
                                            Monthly status reports
                                        </li>
                                    </ul>
                                    <div class="d-grid"><a class="btn btn-outline" href="#!">Choose plan</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer style="background-color: #003365; " class="py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; LINK AFFILIATELY 2023</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="privacy">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="privacy">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="contact">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{%static 'affiliate/js/scripts.js' %}"></script>
    </body>
</html>
